<form (submit)="saveTodo()" [formGroup]="form">
  <div class="form-group">
    <label for="type-select">Type Seciniz</label>
    <select class="form-control" formControlName="type-select" name="type-select" id="type-select" [(ngModel)]="todo.type" required>
      <option *ngFor="let item of types | keys" [value]="item.key">{{item.value}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="title">Baslik</label>
    <input type="text" class="form-control" formControlName="title" name="title" id="title" placeholder="bisiler" [(ngModel)]="todo.title" required />
  </div>
  <div class="form-group">
    <label for="description">Aciklama</label>
    <textarea class="form-control" formControlName="description" name="description" id="description" rows="3" [(ngModel)]="todo.description" required></textarea>
  </div>
  <button type="submit" class="btn btn-primary d-flex ml-auto" [disabled]="!form.valid">kaydet</button>
</form>

